<!--

    Copyright 2015 Red Hat, Inc. and/or its affiliates
    and other contributors as indicated by the @author tags.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<module xmlns="urn:jboss:module:1.3" name="org.hawkular.agent.monitor">
  <resources>
    <artifact name="org.hawkular.metrics:clients-common:${version.hawkular.metrics}"/>
    <artifact name="org.hawkular.bus:hawkular-bus-common:${version.hawkular.bus}"/>
    <artifact name="org.hawkular.bus:hawkular-bus-rest-client:${version.hawkular.bus}"/>
    <artifact name="org.hawkular.agent:hawkular-dmr-client:${version.hawkular}"/>
    <artifact name="org.hawkular.agent:hawkular-monitor:${version.hawkular}"/>
    <artifact name="org.hawkular.cmdgw:hawkular-command-gateway-api:${version.hawkular.cmdgw}"/>
    <artifact name="org.hawkular.inventory:hawkular-inventory-json-helper:${version.hawkular.inventory}"/>
    <artifact name="org.hawkular.inventory:hawkular-inventory-api:${version.hawkular.inventory}"/>
    <artifact name="org.jgrapht:jgrapht-core:${version.jgrapht}"/>
    <artifact name="io.dropwizard.metrics:metrics-core:${version.metrics-core}"/>
    <artifact name="com.squareup.okhttp:okhttp:${version.okhttp}"/>
    <artifact name="com.squareup.okhttp:okhttp-ws:${version.okhttp}"/>
    <artifact name="com.squareup.okio:okio:${version.okio}"/>
    <!--
    <resource-root path="jackson-annotations.jar"/>
    <resource-root path="jackson-core.jar"/>
    <resource-root path="jackson-databind.jar"/>
    <resource-root path="rxjava.jar"/>
    -->
  </resources>

  <dependencies>
    <!-- modules required by any subsystem -->
    <module name="javax.api"/>
    <module name="org.jboss.as.controller"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.modules"/>
    <module name="org.jboss.msc"/>
    <module name="org.jboss.staxmapper"/>
    <module name="org.jboss.vfs"/>

    <!-- other dependencies we need -->
    <module name="org.apache.httpcomponents"/> <!-- DELETE THIS ONCE WE NO LONGER SEND TWO MESSAGES PER METRIC -->
    <module name="org.jboss.as.naming"/>
    <module name="org.jboss.as.network"/>
    <module name="org.jboss.as.threads"/>
    <!--
    <moduleXXname="org.jboss.common-core"/>
    -->
    <module name="org.jboss.logmanager" services="import"/>
    <module name="org.jboss.threads"/>
    <module name="org.slf4j"/>
    <module name="org.wildfly.security.manager"/>
    <module name="sun.jdk"/> <!-- codahale needs sun.misc.Unsafe -->

    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="io.reactivex.rxjava"/>

    <system export="true">
      <paths>
        <!-- Needed for HTTP2 and SPDY support-->
        <path name="org/eclipse/jetty/alpn"/>
      </paths>
    </system>
  </dependencies>
</module>
